@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.single-page {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.light-theme {
    --primary: #F2F2F9;
    --secondary: #969AB1;
    --ternary: #969AB1;

    --second-primary: #202A41;
    --second-secondary: #C7C1BE;
}

.dark-theme {
    --primary: #202A41;
    --secondary: red;
    --ternary: red;

    --second-primary: #F2F2F9;
    --second-secondary: red;
}

